.git
tests

# Environment
.env
.env.local
.env.*.local
.env.secrets
.env.development
.env.production.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# PHP
vendor/
.phpunit.result.cache
composer.lock

# Laravel cache / storage
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/app/public
/cabinet
/backend/cabinet/
/backend/cabinet/**
.env
.env.development
